<!DOCTYPE html>
<html>
    <head>
        <head>
        <meta charset="utf-8">
        <meta content="stuff, to, help, search, engines, not" name="keywords">
        <meta content="What this page is about." name="description">
        <meta content="Display Webcam Stream" name="title">
        <title>Display Webcam Stream</title>
        <link rel='stylesheet' href="{{ url_for('static', filename='css/style.css') }}" />
    </head>
    <body>
        <div id="container">
            <video style="display:none;" autoplay="true" id="videoElement" controls></video>
            <canvas></canvas>
        </div>

        <script src="{{ url_for('static', filename='js/socketio/socket.io.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>